body {
    font-family: Garamond;
    position: relative;
    text-align: center;
    orientation: center;
}
header {
    width: 700px;
    height: 50px;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 20px;
    position: relative;
    orientation: center;
    margin: auto;
    border-radius: 5px;
    font-size: larger;
}
h1 {
    color: purple;
    font-weight: 500;
    font-family: 'Lora', serif;
}
h2 {
    color: rgba(143, 93, 255, 0.89);
    font-weight: 350;
    border-left: 5px solid purple;
    padding-left: 15px;
    margin-top: 35px;
    font-stretch: expanded;
    text-decoration: underline;
    font-family: 'Lora', serif;
}
p, li {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
a {
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color .2s;
}
a:hover {
    background-color: aquamarine;
    color: black;
}
img {
    padding: 15px;
    border: 1px solid bisque;
    border-radius: 5px;
    background-color: antiquewhite;
}

#developer {
    margin: auto;
    text-align: left;
    padding-bottom: 15px;
    position: relative;
    width: 700px;
}
footer {
    width: 700px;
    height: 150px;
    background-color: antiquewhite;
    text-align: center;
    position: relative;
    margin: auto; 
    border-radius: 5px;
}
.contacts {
    border: 0px solid;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
} 

.block {
    width: 250px;
    height: 250px;
    background-color: bisque;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
}
















}